@charset "utf-8";

@import "preconfig.css";

/* Estilo General de la Página */

body{
    background-color: var(--alice-blue);
}

/* Header */

header{
    height: 85px;
    background-color: var(--yale-blue);
    border-bottom: 5px var(--dark-pastel-green) solid;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 -3rem auto;
    color: var(--alice-blue);
}

#logo figcaption{
    margin-left: -8rem;
    margin-top: -5px;
    font-size: 5rem;
    font-weight: bolder;
    color: var(--alice-blue);
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

#navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.list-item{
    font-size: 2rem;
    font-weight: bold;
    margin: auto 15px;
}

.list-item > a{
    text-decoration: none;
    color: var(--alice-blue);
    padding: 5px 10px;
}

.list-item > a:hover{
    text-decoration: none;
    background-color: var(--alice-blue);
    border-radius: 5px;
    color: var(--yale-blue);
}

/* Formulario de Inicio de Sesión */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 155px);
}

#login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    background:rgba(0,0,0,.25);
    padding: 15px 55px;
    box-shadow: 4px 4px 5px 3px rgba(0,0,0,.6);
}

#login p{
    padding-bottom: 1rem;
    margin-bottom: -0.5rem;
}

label{
    font-size: 2rem;
    font-weight: bold;
    margin-top: -0.75rem;
}

input{
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    height: 24px;
    line-height: 1rem;
    padding: 0 2px;
    width: 230px;
    background-color: #ffffcc;
}

.boton{
    background-color: var(--blue-crayola);
    color: black;
    width: 120px;
    margin: 2.5rem auto 0 auto;
}

.boton:active{
    position: relative;
    top: 3px;
}

/* Footer */

footer{
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: var(--deep-taupe);
    text-align: center;
    padding: 50px 0;
}

.footer-block{
    display: block;
    color: var(--alice-blue);
    font-size: 1.5rem;
}