@charset "utf-8";

@import "preconfig.css";

/* Estilo General de la Página */

body{
    background-color: var(--alice-blue);
}

/* Header */

header{
    height: 85px;
    background-color: var(--yale-blue);
    border-bottom: 5px var(--dark-pastel-green) solid;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 -3rem auto;
    color: var(--alice-blue);
}

#logo figcaption{
    margin-left: -8rem;
    margin-top: -5px;
    font-size: 5rem;
    font-weight: bolder;
    color: var(--alice-blue);
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

#navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.list-item{
    font-size: 2rem;
    font-weight: bold;
    margin: auto 15px;
}

.list-item > a{
    text-decoration: none;
    color: var(--alice-blue);
    padding: 5px 10px;
}

.list-item > a:hover{
    text-decoration: none;
    background-color: var(--alice-blue);
    border-radius: 5px;
    color: var(--yale-blue);
}

/* Cuerpo de la Página */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 155px);
}

#main-title{
    font-size: 4rem;
    text-align: center;
    margin-top: 50px;
}

#main-title::after{
    background-color: var(--dark-pastel-green);
    position: relative;
    display: block;
    content: "";
    height: 2px;
    width: 75px;
    margin: 30px auto 20px;
}



/*Footer */

footer{
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: var(--deep-taupe);
    text-align: center;
    padding: 50px 0;
}

.footer-block{
    display: block;
    color: var(--alice-blue);
    font-size: 1.5rem;
}