/* Reset del Navegador */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Preconfiguración Personal */

:root{
    --yale-blue: #17477E;
    --dark-pastel-green: #00CA4E;
    --deep-taupe: #7f675B;
    --blue-crayola: #0075F2;
    --alice-blue: #F1F8FB;
    --warning: #fcf8e3;
    --danger: #f2dede;
}

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

/* Grid View from scratch */

.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*='col-']{
    float: left;
    padding: 15px;
}

.col-2{width: 8.33%;}
.col-1{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}